In [1]:
!pip install SQLAlchemy-Utils

Requirement already satisfied: SQLAlchemy-Utils in c:\users\karen\anaconda3\envs\edxclass2\lib\site-packages (0.41.2)
Requirement already satisfied: SQLAlchemy>=1.3 in c:\users\karen\anaconda3\envs\edxclass2\lib\site-packages (from SQLAlchemy-Utils) (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\karen\anaconda3\envs\edxclass2\lib\site-packages (from SQLAlchemy>=1.3->SQLAlchemy-Utils) (2.0.1)

In [2]:
import re
import pandas as pd
import csv
from sqlalchemy import create_engine, text
from sqlalchemy_utils.functions import database_exists, create_database
from pprint import pprint
from pathlib import Path
from datetime import datetime
from IPython.display import display

Create database (if it doesn't already exist) and tables

In [3]:
# connection string. this will change for different RDBMS.
conn_string = f'postgresql+psycopg2://postgres:postgres@localhost:5432/crowdfunding_db'

# establish connection to db
engine = create_engine(conn_string)

# make database if not existing and make connection
if not database_exists(engine.url):
    create_database(engine.url)
conn=engine.connect()

# read in schema
with open(r'crowdfunding_db_schema.sql') as FILE:
    schema = FILE.read()

# break schema into separate queries
queries = schema.split(';')
queries = list(map(lambda x: x.strip() + ';', queries))

# execute one at a time
for query in queries:
    if len(query) > 1:
        conn.execute(text(query))

We'll need a helper function to infer types from the CSV columns to import the data to the DB properly

In [4]:
def infer_types(items):
    items_typed = []
    for item in items:
        if re.fullmatch(r'[0-9]+\.?[0-9]+', item): #is it a float?
            items_typed.append(float(item))
        elif item.isnumeric(): #or an integer?
            items_typed.append(int(item))
        else: #anything else
            items_typed.append(item)
    return tuple(items_typed)

Import data from the CSV files to the tables

In [5]:
tables = ['category', 'subcategory', 'contacts', 'campaign']

for table in tables:
    print(f'Inserting data to {table}')
    # get data from csv file for table
    csv_file = Path(f'Resources/{table}.csv')
    with open(csv_file, 'r') as FILE:
        reader = csv.reader(FILE)
        rows = []
        columns = tuple(next(reader))
        for row in reader:
            rows.append(infer_types(row))
    
    # build insert SQL
    sql = f'INSERT INTO {table} ({", ".join(columns)}) VALUES '
    for row in rows[:-1]:
        sql += f'{row}, '
    sql += f'{rows[-1]};'
    
    # run sql
    conn.execute(text(sql))
print('Done!')

Inserting data to category
Inserting data to subcategory
Inserting data to contacts
Inserting data to campaign
Done!

Proof of the pudding -- run a basic query on each table

In [6]:
# Function to run SELECT * query and return a Pandas Dataframe
def query_table(table):
    sql = f'SELECT * FROM {table}'
    result = conn.execute(text(sql))
    print(sql)
    return pd.DataFrame(list(result))

In [7]:
query_table("category")

SELECT * FROM category

  category_id      category
0        cat1    technology
1        cat2    journalism
2        cat3       theater
3        cat4          food
4        cat5         music
5        cat6         games
6        cat7    publishing
7        cat8  film & video
8        cat9   photography

In [8]:
query_table("subcategory")

SELECT * FROM subcategory

   subcategory_id        subcategory
0        subcat01        video games
1        subcat02              audio
2        subcat03               rock
3        subcat04         nonfiction
4        subcat05   radio & podcasts
5        subcat06    science fiction
6        subcat07              metal
7        subcat08       mobile games
8        subcat09  photography books
9        subcat10               jazz
10       subcat11        documentary
11       subcat12       translations
12       subcat13     electric music
13       subcat14         indie rock
14       subcat15            fiction
15       subcat16             shorts
16       subcat17        world music
17       subcat18              drama
18       subcat19         television
19       subcat20                web
20       subcat21              plays
21       subcat22          animation
22       subcat23        food trucks
23       subcat24          wearables

In [9]:
query_table("contacts").head(10)

SELECT * FROM contacts

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com
5        5650    Socorro      Luna      socorro.luna@hotmail.com
6        5889   Carolina    Murray    carolina.murray@knight.com
7        4842      Kayla      Moon           kayla.moon@yahoo.de
8        3280    Ariadna    Geisel     ariadna.geisel@rangel.com
9        5468   Danielle    Ladeck  danielle.ladeck@scalfaro.net

In [10]:
query_table("campaign").head(10)

SELECT * FROM campaign

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,cat4,subcat23
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,cat5,subcat03
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,cat1,subcat20
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,cat5,subcat03
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,cat3,subcat21
5,2057,5650,Harris Group,Open-source optimizing database,7600.0,13195.0,successful,174,DK,DKK,2020-12-11 06:00:00,2021-08-29 05:00:00,cat3,subcat21
6,1894,5889,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200.0,1090.0,failed,18,GB,GBP,2020-07-31 05:00:00,2021-05-11 05:00:00,cat8,subcat11
7,2669,4842,Carter-Guzman,Centralized cohesive challenge,4500.0,14741.0,successful,227,DK,DKK,2020-12-22 06:00:00,2021-09-21 05:00:00,cat3,subcat21
8,1114,3280,Nunez-Richards,Exclusive attitude-oriented intranet,110100.0,21946.0,live,708,DK,DKK,2020-04-08 05:00:00,2021-03-10 06:00:00,cat3,subcat21
9,970,5468,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200.0,3208.0,failed,44,US,USD,2021-08-13 05:00:00,2021-08-31 05:00:00,cat5,subcat13

Close the DB connection

In [11]:
conn.close()