In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [3]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   contact_id               1000 non-null   int64
 2   company_name             1000 non-null   object
 3   blurb                    1000 non-null   object
 4   goal                     1000 non-null   int64
 5   pledged                  1000 non-null   int64
 6   outcome                  1000 non-null   object
 7   backers_count            1000 non-null   int64
 8   country                  1000 non-null   object
 9   currency                 1000 non-null   object
 10  launched_at              1000 non-null   int64
 11  deadline                 1000 non-null   int64
 12  staff_pick               1000 non-null   bool
 13  spotlight                1000 non-null   bool
 14  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(7), object(6)
memory usage: 103.6+ KB

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [4]:
# Get the crowdfunding_info_df columns.
columns = list(crowdfunding_info_df.columns)
columns

['cf_id',
 'contact_id',
 'company_name',
 'blurb',
 'goal',
 'pledged',
 'outcome',
 'backers_count',
 'country',
 'currency',
 'launched_at',
 'deadline',
 'staff_pick',
 'spotlight',
 'category & sub-category']

In [5]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[['category', 'subcategory']] = crowdfunding_info_df['category & sub-category'].str.split('/', expand = True)
crowdfunding_info_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [6]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_info_df['category'].values
subcategories = crowdfunding_info_df['subcategory'].values

print(categories)
print(subcategories)

['food' 'music' 'technology' 'music' 'theater' 'theater' 'film & video'
 'theater' 'theater' 'music' 'film & video' 'theater' 'film & video'
 'music' 'music' 'technology' 'publishing' 'film & video' 'theater'
 'theater' 'film & video' 'theater' 'theater' 'film & video' 'technology'
 'games' 'theater' 'music' 'theater' 'film & video' 'film & video' 'games'
 'film & video' 'theater' 'film & video' 'film & video' 'theater'
 'publishing' 'photography' 'theater' 'technology' 'music' 'food'
 'publishing' 'publishing' 'theater' 'music' 'theater' 'theater' 'music'
 'music' 'technology' 'theater' 'film & video' 'technology' 'music'
 'technology' 'games' 'theater' 'theater' 'theater' 'theater' 'technology'
 'theater' 'technology' 'theater' 'theater' 'technology' 'theater'
 'theater' 'theater' 'theater' 'film & video' 'music' 'music'
 'photography' 'theater' 'film & video' 'publishing' 'theater' 'games'
 'music' 'games' 'music' 'technology' 'music' 'theater' 'music'
 'publishing' 'theater' 'theater' 'publishing' 'games' 'theater'
 'technology' 'film & video' 'theater' 'food' 'games' 'theater' 'theater'
 'music' 'technology' 'music' 'music' 'technology' 'theater' 'theater'
 'film & video' 'film & video' 'food' 'publishing' 'technology' 'food'
 'technology' 'publishing' 'theater' 'film & video' 'photography'
 'film & video' 'games' 'games' 'publishing' 'theater' 'photography'
 'theater' 'theater' 'theater' 'music' 'food' 'film & video' 'technology'
 'theater' 'music' 'film & video' 'theater' 'film & video' 'publishing'
 'games' 'technology' 'film & video' 'technology' 'technology' 'music'
 'theater' 'technology' 'theater' 'theater' 'technology' 'music' 'music'
 'music' 'music' 'theater' 'music' 'theater' 'music' 'photography' 'music'
 'theater' 'technology' 'technology' 'music' 'photography' 'theater'
 'technology' 'photography' 'theater' 'music' 'film & video' 'music'
 'publishing' 'film & video' 'theater' 'technology' 'theater' 'theater'
 'theater' 'food' 'theater' 'technology' 'technology' 'theater' 'music'
 'theater' 'film & video' 'theater' 'film & video' 'theater' 'theater'
 'theater' 'theater' 'music' 'music' 'music' 'music' 'technology'
 'film & video' 'music' 'music' 'theater' 'technology' 'food' 'theater'
 'music' 'theater' 'publishing' 'music' 'film & video' 'film & video'
 'film & video' 'theater' 'theater' 'music' 'music' 'theater' 'theater'
 'film & video' 'film & video' 'film & video' 'theater' 'food'
 'photography' 'theater' 'film & video' 'music' 'photography' 'games'
 'film & video' 'games' 'games' 'theater' 'theater' 'film & video' 'games'
 'film & video' 'music' 'film & video' 'theater' 'technology' 'theater'
 'publishing' 'music' 'theater' 'theater' 'theater' 'technology'
 'publishing' 'games' 'publishing' 'music' 'theater' 'theater'
 'film & video' 'publishing' 'music' 'music' 'theater' 'theater'
 'photography' 'music' 'music' 'music' 'photography' 'theater' 'theater'
 'music' 'theater' 'film & video' 'film & video' 'games' 'photography'
 'theater' 'theater' 'theater' 'publishing' 'games' 'theater' 'technology'
 'theater' 'film & video' 'theater' 'film & video' 'music' 'technology'
 'theater' 'theater' 'music' 'music' 'theater' 'film & video' 'technology'
 'food' 'theater' 'theater' 'theater' 'theater' 'theater' 'music' 'food'
 'publishing' 'film & video' 'theater' 'music' 'film & video' 'theater'
 'theater' 'publishing' 'theater' 'music' 'games' 'theater' 'theater'
 'music' 'film & video' 'theater' 'food' 'theater' 'music' 'technology'
 'publishing' 'film & video' 'theater' 'film & video' 'theater' 'theater'
 'film & video' 'theater' 'music' 'games' 'film & video' 'food'
 'technology' 'theater' 'music' 'music' 'music' 'theater' 'theater'
 'theater' 'photography' 'music' 'theater' 'theater' 'games'
 'film & video' 'music' 'technology' 'food' 'theater' 'music' 'music'
 'theater' 'theater' 'film & video' 'technology' 'theater' 'games'
 'photography' 'film & video' 'theater' 'theater' 'music' 'music' 'music'
 'theater' 'theater' 'theater' 'film & video' 'film & video' 'theater'
 'theater' 'film & video' 'theater' 'film & video' 'music' 'music'
 'theater' 'film & video' 'theater' 'theater' 'theater' 'photography'
 'food' 'film & video' 'publishing' 'theater' 'technology' 'music'
 'theater' 'photography' 'publishing' 'technology' 'music' 'film & video'
 'theater' 'film & video' 'music' 'film & video' 'music' 'photography'
 'theater' 'film & video' 'theater' 'theater' 'theater' 'film & video'
 'theater' 'film & video' 'music' 'games' 'theater' 'publishing'
 'film & video' 'food' 'theater' 'film & video' 'theater' 'film & video'
 'technology' 'theater' 'technology' 'theater' 'food' 'music'
 'photography' 'theater' 'theater' 'film & video' 'photography' 'theater'
 'theater' 'theater' 'film & video' 'theater' 'theater' 'music'
 'film & video' 'theater' 'film & video' 'film & video' 'technology'
 'theater' 'theater' 'music' 'theater' 'technology' 'film & video' 'games'
 'games' 'film & video' 'music' 'film & video' 'film & video'
 'film & video' 'theater' 'music' 'theater' 'theater' 'film & video'
 'theater' 'film & video' 'games' 'film & video' 'theater' 'publishing'
 'technology' 'technology' 'theater' 'film & video' 'technology' 'food'
 'music' 'music' 'film & video' 'publishing' 'publishing' 'film & video'
 'technology' 'food' 'photography' 'theater' 'publishing' 'theater' 'food'
 'theater' 'publishing' 'theater' 'theater' 'technology' 'journalism'
 'food' 'film & video' 'photography' 'technology' 'theater' 'film & video'
 'technology' 'technology' 'film & video' 'theater' 'film & video' 'games'
 'film & video' 'music' 'publishing' 'theater' 'technology' 'theater'
 'theater' 'film & video' 'theater' 'games' 'film & video' 'music'
 'theater' 'publishing' 'food' 'film & video' 'music' 'theater'
 'film & video' 'film & video' 'film & video' 'theater' 'technology'
 'theater' 'film & video' 'music' 'games' 'publishing' 'games' 'theater'
 'music' 'film & video' 'theater' 'publishing' 'film & video' 'games'
 'food' 'photography' 'games' 'music' 'games' 'music' 'theater' 'theater'
 'film & video' 'theater' 'technology' 'music' 'technology' 'theater'
 'music' 'music' 'music' 'publishing' 'film & video' 'theater' 'theater'
 'film & video' 'theater' 'music' 'film & video' 'theater' 'theater'
 'music' 'music' 'theater' 'film & video' 'music' 'film & video' 'music'
 'journalism' 'food' 'theater' 'theater' 'music' 'film & video' 'music'
 'theater' 'technology' 'games' 'film & video' 'technology' 'publishing'
 'music' 'food' 'theater' 'film & video' 'publishing' 'games' 'theater'
 'film & video' 'theater' 'theater' 'film & video' 'theater' 'music'
 'film & video' 'food' 'technology' 'theater' 'theater' 'theater'
 'publishing' 'music' 'food' 'music' 'film & video' 'theater' 'theater'
 'music' 'theater' 'theater' 'theater' 'music' 'theater' 'publishing'
 'theater' 'photography' 'theater' 'music' 'theater' 'photography'
 'theater' 'theater' 'food' 'music' 'theater' 'theater' 'theater'
 'theater' 'film & video' 'film & video' 'film & video' 'film & video'
 'theater' 'theater' 'film & video' 'theater' 'theater' 'technology'
 'theater' 'theater' 'music' 'games' 'publishing' 'food' 'theater' 'music'
 'film & video' 'technology' 'technology' 'music' 'photography' 'food'
 'film & video' 'music' 'film & video' 'theater' 'music' 'theater'
 'theater' 'music' 'film & video' 'theater' 'journalism' 'theater'
 'theater' 'music' 'theater' 'theater' 'music' 'photography' 'journalism'
 'photography' 'publishing' 'film & video' 'food' 'games' 'theater'
 'theater' 'theater' 'publishing' 'theater' 'technology' 'theater'
 'film & video' 'technology' 'film & video' 'film & video' 'music'
 'theater' 'theater' 'music' 'theater' 'music' 'technology' 'film & video'
 'technology' 'theater' 'technology' 'publishing' 'film & video'
 'publishing' 'technology' 'film & video' 'theater' 'theater' 'theater'
 'theater' 'theater' 'publishing' 'music' 'games' 'theater' 'film & video'
 'technology' 'publishing' 'theater' 'music' 'film & video' 'theater'
 'theater' 'games' 'theater' 'technology' 'theater' 'film & video'
 'technology' 'technology' 'music' 'music' 'theater' 'photography'
 'publishing' 'music' 'theater' 'music' 'theater' 'theater' 'music'
 'theater' 'theater' 'technology' 'technology' 'theater' 'film & video'
 'technology' 'music' 'publishing' 'theater' 'photography' 'theater'
 'theater' 'theater' 'film & video' 'music' 'music' 'games' 'music'
 'music' 'theater' 'music' 'music' 'film & video' 'publishing' 'theater'
 'games' 'theater' 'theater' 'music' 'theater' 'technology' 'music'
 'theater' 'theater' 'film & video' 'theater' 'film & video' 'theater'
 'film & video' 'music' 'technology' 'film & video' 'music' 'music'
 'film & video' 'theater' 'theater' 'food' 'theater' 'publishing' 'music'
 'film & video' 'games' 'technology' 'theater' 'theater' 'music'
 'photography' 'photography' 'theater' 'music' 'film & video'
 'film & video' 'theater' 'food' 'film & video' 'theater' 'games'
 'publishing' 'games' 'music' 'music' 'theater' 'publishing' 'theater'
 'games' 'music' 'film & video' 'music' 'music' 'publishing'
 'film & video' 'theater' 'film & video' 'theater' 'theater' 'theater'
 'photography' 'publishing' 'publishing' 'theater' 'technology' 'music'
 'music' 'theater' 'film & video' 'theater' 'technology' 'technology'
 'photography' 'film & video' 'technology' 'technology' 'food'
 'film & video' 'music' 'music' 'music' 'games' 'music' 'publishing'
 'theater' 'food' 'film & video' 'food' 'theater' 'technology' 'theater'
 'theater' 'film & video' 'film & video' 'theater' 'photography' 'food'
 'theater' 'film & video' 'theater' 'theater' 'film & video' 'photography'
 'photography' 'music' 'photography' 'food' 'music' 'publishing' 'music'
 'theater' 'theater' 'film & video' 'theater' 'theater' 'music' 'theater'
 'theater' 'music' 'music' 'film & video' 'publishing' 'film & video'
 'film & video' 'theater' 'food' 'theater' 'film & video' 'music'
 'technology' 'music' 'technology' 'publishing' 'publishing' 'theater'
 'film & video' 'theater' 'games' 'theater' 'theater' 'technology'
 'film & video' 'film & video' 'theater' 'film & video' 'photography'
 'film & video' 'publishing' 'theater' 'film & video' 'technology' 'music'
 'theater' 'theater' 'theater' 'food' 'theater' 'technology' 'theater'
 'theater' 'theater' 'music' 'theater' 'theater' 'theater' 'theater'
 'film & video' 'publishing' 'games' 'technology' 'theater' 'theater'
 'food' 'photography' 'photography' 'theater' 'theater' 'film & video'
 'technology' 'theater' 'music' 'film & video' 'film & video' 'technology'
 'theater' 'film & video' 'theater' 'film & video' 'publishing'
 'technology' 'publishing' 'food' 'photography' 'theater' 'music'
 'theater' 'music' 'food' 'theater' 'theater' 'film & video' 'technology'
 'theater' 'music' 'theater' 'theater' 'food' 'games' 'theater'
 'publishing' 'technology' 'film & video' 'film & video' 'theater' 'music'
 'music' 'film & video' 'publishing' 'publishing' 'film & video' 'music'
 'film & video' 'photography' 'publishing' 'food' 'theater' 'theater'
 'music' 'food']
['food trucks' 'rock' 'web' 'rock' 'plays' 'plays' 'documentary' 'plays'
 'plays' 'electric music' 'drama' 'plays' 'drama' 'indie rock'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'plays' 'plays' 'drama'
 'plays' 'plays' 'documentary' 'wearables' 'video games' 'plays' 'rock'
 'plays' 'shorts' 'animation' 'video games' 'documentary' 'plays'
 'documentary' 'drama' 'plays' 'fiction' 'photography books' 'plays'
 'wearables' 'rock' 'food trucks' 'radio & podcasts' 'fiction' 'plays'
 'rock' 'plays' 'plays' 'rock' 'metal' 'wearables' 'plays' 'drama'
 'wearables' 'jazz' 'wearables' 'video games' 'plays' 'plays' 'plays'
 'plays' 'web' 'plays' 'web' 'plays' 'plays' 'wearables' 'plays' 'plays'
 'plays' 'plays' 'animation' 'jazz' 'metal' 'photography books' 'plays'
 'animation' 'translations' 'plays' 'video games' 'rock' 'video games'
 'electric music' 'wearables' 'indie rock' 'plays' 'rock' 'translations'
 'plays' 'plays' 'translations' 'video games' 'plays' 'web' 'documentary'
 'plays' 'food trucks' 'video games' 'plays' 'plays' 'electric music'
 'wearables' 'electric music' 'indie rock' 'web' 'plays' 'plays'
 'documentary' 'television' 'food trucks' 'radio & podcasts' 'web'
 'food trucks' 'wearables' 'fiction' 'plays' 'television'
 'photography books' 'documentary' 'mobile games' 'video games' 'fiction'
 'plays' 'photography books' 'plays' 'plays' 'plays' 'rock' 'food trucks'
 'drama' 'web' 'plays' 'world music' 'documentary' 'plays' 'drama'
 'nonfiction' 'mobile games' 'wearables' 'documentary' 'web' 'web'
 'indie rock' 'plays' 'wearables' 'plays' 'plays' 'wearables' 'indie rock'
 'rock' 'electric music' 'indie rock' 'plays' 'indie rock' 'plays' 'rock'
 'photography books' 'rock' 'plays' 'wearables' 'web' 'rock'
 'photography books' 'plays' 'web' 'photography books' 'plays'
 'indie rock' 'shorts' 'indie rock' 'translations' 'documentary' 'plays'
 'wearables' 'plays' 'plays' 'plays' 'food trucks' 'plays' 'wearables'
 'web' 'plays' 'rock' 'plays' 'television' 'plays' 'shorts' 'plays'
 'plays' 'plays' 'plays' 'rock' 'indie rock' 'metal' 'electric music'
 'wearables' 'drama' 'electric music' 'rock' 'plays' 'web' 'food trucks'
 'plays' 'jazz' 'plays' 'fiction' 'rock' 'documentary' 'documentary'
 'science fiction' 'plays' 'plays' 'indie rock' 'rock' 'plays' 'plays'
 'science fiction' 'shorts' 'animation' 'plays' 'food trucks'
 'photography books' 'plays' 'science fiction' 'rock' 'photography books'
 'mobile games' 'animation' 'mobile games' 'video games' 'plays' 'plays'
 'animation' 'video games' 'animation' 'rock' 'animation' 'plays'
 'wearables' 'plays' 'nonfiction' 'rock' 'plays' 'plays' 'plays' 'web'
 'fiction' 'mobile games' 'translations' 'rock' 'plays' 'plays' 'drama'
 'nonfiction' 'rock' 'rock' 'plays' 'plays' 'photography books' 'rock'
 'rock' 'indie rock' 'photography books' 'plays' 'plays' 'jazz' 'plays'
 'documentary' 'television' 'video games' 'photography books' 'plays'
 'plays' 'plays' 'translations' 'video games' 'plays' 'web' 'plays'
 'animation' 'plays' 'television' 'rock' 'web' 'plays' 'plays'
 'electric music' 'metal' 'plays' 'documentary' 'web' 'food trucks'
 'plays' 'plays' 'plays' 'plays' 'plays' 'rock' 'food trucks' 'nonfiction'
 'documentary' 'plays' 'indie rock' 'documentary' 'plays' 'plays'
 'fiction' 'plays' 'indie rock' 'video games' 'plays' 'plays' 'rock'
 'documentary' 'plays' 'food trucks' 'plays' 'rock' 'web' 'fiction'
 'shorts' 'plays' 'documentary' 'plays' 'plays' 'animation' 'plays' 'rock'
 'video games' 'documentary' 'food trucks' 'wearables' 'plays' 'rock'
 'rock' 'rock' 'plays' 'plays' 'plays' 'photography books' 'indie rock'
 'plays' 'plays' 'video games' 'drama' 'indie rock' 'web' 'food trucks'
 'plays' 'jazz' 'rock' 'plays' 'plays' 'documentary' 'wearables' 'plays'
 'video games' 'photography books' 'animation' 'plays' 'plays' 'rock'
 'rock' 'indie rock' 'plays' 'plays' 'plays' 'documentary' 'television'
 'plays' 'plays' 'documentary' 'plays' 'documentary' 'indie rock' 'rock'
 'plays' 'documentary' 'plays' 'plays' 'plays' 'photography books'
 'food trucks' 'documentary' 'nonfiction' 'plays' 'wearables' 'indie rock'
 'plays' 'photography books' 'nonfiction' 'wearables' 'jazz' 'documentary'
 'plays' 'drama' 'rock' 'animation' 'indie rock' 'photography books'
 'plays' 'shorts' 'plays' 'plays' 'plays' 'documentary' 'plays'
 'documentary' 'rock' 'mobile games' 'plays' 'fiction' 'animation'
 'food trucks' 'plays' 'documentary' 'plays' 'documentary' 'web' 'plays'
 'wearables' 'plays' 'food trucks' 'indie rock' 'photography books'
 'plays' 'plays' 'animation' 'photography books' 'plays' 'plays' 'plays'
 'documentary' 'plays' 'plays' 'jazz' 'animation' 'plays'
 'science fiction' 'television' 'wearables' 'plays' 'plays' 'indie rock'
 'plays' 'wearables' 'television' 'video games' 'video games' 'animation'
 'rock' 'drama' 'science fiction' 'drama' 'plays' 'indie rock' 'plays'
 'plays' 'documentary' 'plays' 'drama' 'mobile games' 'animation' 'plays'
 'translations' 'wearables' 'web' 'plays' 'drama' 'wearables'
 'food trucks' 'rock' 'electric music' 'television' 'translations'
 'fiction' 'science fiction' 'wearables' 'food trucks' 'photography books'
 'plays' 'fiction' 'plays' 'food trucks' 'plays' 'translations' 'plays'
 'plays' 'wearables' 'audio' 'food trucks' 'shorts' 'photography books'
 'wearables' 'plays' 'animation' 'wearables' 'web' 'documentary' 'plays'
 'documentary' 'video games' 'drama' 'rock' 'radio & podcasts' 'plays'
 'web' 'plays' 'plays' 'drama' 'plays' 'video games' 'television' 'rock'
 'plays' 'nonfiction' 'food trucks' 'animation' 'rock' 'plays' 'drama'
 'shorts' 'shorts' 'plays' 'wearables' 'plays' 'animation' 'indie rock'
 'video games' 'fiction' 'video games' 'plays' 'indie rock' 'drama'
 'plays' 'fiction' 'documentary' 'mobile games' 'food trucks'
 'photography books' 'mobile games' 'indie rock' 'video games' 'rock'
 'plays' 'plays' 'drama' 'plays' 'wearables' 'indie rock' 'web' 'plays'
 'rock' 'indie rock' 'rock' 'translations' 'science fiction' 'plays'
 'plays' 'animation' 'plays' 'rock' 'documentary' 'plays' 'plays'
 'electric music' 'rock' 'plays' 'animation' 'rock' 'shorts' 'rock'
 'audio' 'food trucks' 'plays' 'plays' 'jazz' 'science fiction' 'jazz'
 'plays' 'web' 'video games' 'documentary' 'web' 'translations' 'rock'
 'food trucks' 'plays' 'documentary' 'radio & podcasts' 'video games'
 'plays' 'animation' 'plays' 'plays' 'drama' 'plays' 'rock' 'documentary'
 'food trucks' 'wearables' 'plays' 'plays' 'plays' 'nonfiction' 'rock'
 'food trucks' 'jazz' 'science fiction' 'plays' 'plays' 'electric music'
 'plays' 'plays' 'plays' 'indie rock' 'plays' 'nonfiction' 'plays'
 'photography books' 'plays' 'indie rock' 'plays' 'photography books'
 'plays' 'plays' 'food trucks' 'indie rock' 'plays' 'plays' 'plays'
 'plays' 'animation' 'television' 'television' 'animation' 'plays' 'plays'
 'drama' 'plays' 'plays' 'wearables' 'plays' 'plays' 'rock' 'video games'
 'translations' 'food trucks' 'plays' 'jazz' 'shorts' 'web' 'web' 'metal'
 'photography books' 'food trucks' 'science fiction' 'rock' 'documentary'
 'plays' 'jazz' 'plays' 'plays' 'jazz' 'documentary' 'plays' 'audio'
 'plays' 'plays' 'indie rock' 'plays' 'plays' 'indie rock'
 'photography books' 'audio' 'photography books' 'fiction' 'drama'
 'food trucks' 'mobile games' 'plays' 'plays' 'plays' 'nonfiction' 'plays'
 'wearables' 'plays' 'television' 'web' 'documentary' 'documentary' 'rock'
 'plays' 'plays' 'rock' 'plays' 'electric music' 'wearables' 'drama'
 'wearables' 'plays' 'wearables' 'translations' 'animation' 'nonfiction'
 'web' 'drama' 'plays' 'plays' 'plays' 'plays' 'plays' 'radio & podcasts'
 'rock' 'mobile games' 'plays' 'documentary' 'wearables' 'fiction' 'plays'
 'rock' 'documentary' 'plays' 'plays' 'mobile games' 'plays' 'web' 'plays'
 'drama' 'wearables' 'web' 'rock' 'metal' 'plays' 'photography books'
 'nonfiction' 'indie rock' 'plays' 'indie rock' 'plays' 'plays'
 'electric music' 'plays' 'plays' 'wearables' 'web' 'plays' 'animation'
 'wearables' 'electric music' 'nonfiction' 'plays' 'photography books'
 'plays' 'plays' 'plays' 'drama' 'rock' 'electric music' 'video games'
 'rock' 'jazz' 'plays' 'rock' 'indie rock' 'science fiction'
 'translations' 'plays' 'video games' 'plays' 'plays' 'indie rock' 'plays'
 'web' 'rock' 'plays' 'plays' 'animation' 'plays' 'drama' 'plays'
 'animation' 'rock' 'web' 'animation' 'jazz' 'rock' 'animation' 'plays'
 'plays' 'food trucks' 'plays' 'nonfiction' 'rock' 'drama' 'mobile games'
 'web' 'plays' 'plays' 'rock' 'photography books' 'photography books'
 'plays' 'rock' 'documentary' 'drama' 'plays' 'food trucks' 'documentary'
 'plays' 'video games' 'nonfiction' 'video games' 'rock' 'rock' 'plays'
 'nonfiction' 'plays' 'video games' 'rock' 'documentary' 'rock' 'rock'
 'nonfiction' 'shorts' 'plays' 'drama' 'plays' 'plays' 'plays'

In [7]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(categories))
print(len(subcategories))

1000
1000

In [8]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [9]:
# Use a list comprehension to add "cat" to each category_id. 
cat_list = [{'category_id': f"cat{id}", 'category': category} for id, category in zip(category_ids, set(categories))]
# Use a list comprehension to add "subcat" to each subcategory_id. Includes leading zero on integer part
# to make the subcategory ids to be of a fixed langth.    
scat_list = [{'subcategory_id': f"subcat{id:02}", 'subcategory': subcategory} for id, subcategory in zip(subcategory_ids, set(subcategories))]
    
print(cat_list)
print(scat_list)

[{'category_id': 'cat1', 'category': 'music'}, {'category_id': 'cat2', 'category': 'publishing'}, {'category_id': 'cat3', 'category': 'food'}, {'category_id': 'cat4', 'category': 'technology'}, {'category_id': 'cat5', 'category': 'journalism'}, {'category_id': 'cat6', 'category': 'film & video'}, {'category_id': 'cat7', 'category': 'theater'}, {'category_id': 'cat8', 'category': 'photography'}, {'category_id': 'cat9', 'category': 'games'}]
[{'subcategory_id': 'subcat01', 'subcategory': 'web'}, {'subcategory_id': 'subcat02', 'subcategory': 'plays'}, {'subcategory_id': 'subcat03', 'subcategory': 'indie rock'}, {'subcategory_id': 'subcat04', 'subcategory': 'rock'}, {'subcategory_id': 'subcat05', 'subcategory': 'mobile games'}, {'subcategory_id': 'subcat06', 'subcategory': 'documentary'}, {'subcategory_id': 'subcat07', 'subcategory': 'wearables'}, {'subcategory_id': 'subcat08', 'subcategory': 'fiction'}, {'subcategory_id': 'subcat09', 'subcategory': 'food trucks'}, {'subcategory_id': 'subcat10', 'subcategory': 'animation'}, {'subcategory_id': 'subcat11', 'subcategory': 'photography books'}, {'subcategory_id': 'subcat12', 'subcategory': 'world music'}, {'subcategory_id': 'subcat13', 'subcategory': 'translations'}, {'subcategory_id': 'subcat14', 'subcategory': 'drama'}, {'subcategory_id': 'subcat15', 'subcategory': 'audio'}, {'subcategory_id': 'subcat16', 'subcategory': 'jazz'}, {'subcategory_id': 'subcat17', 'subcategory': 'television'}, {'subcategory_id': 'subcat18', 'subcategory': 'shorts'}, {'subcategory_id': 'subcat19', 'subcategory': 'radio & podcasts'}, {'subcategory_id': 'subcat20', 'subcategory': 'electric music'}, {'subcategory_id': 'subcat21', 'subcategory': 'video games'}, {'subcategory_id': 'subcat22', 'subcategory': 'metal'}, {'subcategory_id': 'subcat23', 'subcategory': 'science fiction'}, {'subcategory_id': 'subcat24', 'subcategory': 'nonfiction'}]

In [10]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame(cat_list)
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
subcategory_df = pd.DataFrame(scat_list)

In [11]:
category_df

  category_id      category
0        cat1         music
1        cat2    publishing
2        cat3          food
3        cat4    technology
4        cat5    journalism
5        cat6  film & video
6        cat7       theater
7        cat8   photography
8        cat9         games

In [12]:
subcategory_df

   subcategory_id        subcategory
0        subcat01                web
1        subcat02              plays
2        subcat03         indie rock
3        subcat04               rock
4        subcat05       mobile games
5        subcat06        documentary
6        subcat07          wearables
7        subcat08            fiction
8        subcat09        food trucks
9        subcat10          animation
10       subcat11  photography books
11       subcat12        world music
12       subcat13       translations
13       subcat14              drama
14       subcat15              audio
15       subcat16               jazz
16       subcat17         television
17       subcat18             shorts
18       subcat19   radio & podcasts
19       subcat20     electric music
20       subcat21        video games
21       subcat22              metal
22       subcat23    science fiction
23       subcat24         nonfiction

In [13]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("Resources/category.csv", index=False)

subcategory_df.to_csv("Resources/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [14]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays

In [15]:
# Rename the blurb, launched_at, and deadline columns.
campaign_df.rename(columns={'blurb': 'description', 'launched_at': 'launch_date', 'deadline': 'end_date'}, inplace=True)

In [16]:
# Convert the goal and pledged columns to a `float` data type.
campaign_df[['goal', 'pledged']] = campaign_df[['goal', 'pledged']].astype(float)

In [17]:
# Check the datatypes
campaign_df.dtypes

cf_id                        int64
contact_id                   int64
company_name                object
description                 object
goal                       float64
pledged                    float64
outcome                     object
backers_count                int64
country                     object
currency                    object
launch_date                  int64
end_date                     int64
staff_pick                    bool
spotlight                     bool
category & sub-category     object
category                    object
subcategory                 object
dtype: object

In [18]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'], unit='s')
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'], unit='s')
campaign_df.dtypes

cf_id                               int64
contact_id                          int64
company_name                       object
description                        object
goal                              float64
pledged                           float64
outcome                            object
backers_count                       int64
country                            object
currency                           object
launch_date                datetime64[ns]
end_date                   datetime64[ns]
staff_pick                           bool
spotlight                            bool
category & sub-category            object
category                           object
subcategory                        object
dtype: object

In [19]:
campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,False,False,food/food trucks,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,False,True,music/rock,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,False,False,technology/web,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,False,False,music/rock,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,False,False,theater/plays,theater,plays

In [20]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
campaign_merged_df = pd.merge(campaign_df, category_df, on='category', how='left')
campaign_merged_df = pd.merge(campaign_merged_df, subcategory_df, on='subcategory', how='left')

campaign_merged_df.tail(10)

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,staff_pick,spotlight,category & sub-category,category,subcategory,category_id,subcategory_id
990,1561,5500,Ortiz-Roberts,Devolved foreground customer loyalty,7800.0,6839.0,failed,64,US,USD,2021-06-09 05:00:00,2021-06-18 05:00:00,False,True,film & video/drama,film & video,drama,cat6,subcat14
991,2632,3494,Ramirez LLC,Reduced reciprocal focus group,9800.0,11091.0,successful,241,US,USD,2020-12-09 06:00:00,2021-05-26 05:00:00,False,True,music/rock,music,rock,cat1,subcat04
992,439,3924,Morrow Inc,Networked global migration,3100.0,13223.0,successful,132,US,USD,2020-06-14 05:00:00,2021-02-09 06:00:00,False,True,film & video/drama,film & video,drama,cat6,subcat14
993,461,3521,Erickson-Rogers,De-engineered even-keeled definition,9800.0,7608.0,canceled,75,IT,EUR,2021-07-03 05:00:00,2021-07-08 05:00:00,False,True,photography/photography books,photography,photography books,cat8,subcat11
994,1419,5262,"Leach, Rich and Price",Implemented bi-directional flexibility,141100.0,74073.0,failed,842,US,USD,2021-11-15 06:00:00,2021-12-07 06:00:00,False,True,publishing/translations,publishing,translations,cat2,subcat13
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300.0,153216.0,successful,2043,US,USD,2020-12-29 06:00:00,2021-05-30 05:00:00,False,True,food/food trucks,food,food trucks,cat3,subcat09
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600.0,4814.0,failed,112,US,USD,2021-10-15 05:00:00,2021-11-30 06:00:00,False,False,theater/plays,theater,plays,cat7,subcat02
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600.0,4603.0,canceled,139,IT,EUR,2021-11-06 05:00:00,2021-12-10 06:00:00,False,False,theater/plays,theater,plays,cat7,subcat02
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600.0,37823.0,failed,374,US,USD,2020-10-08 05:00:00,2021-04-11 05:00:00,False,True,music/indie rock,music,indie rock,cat1,subcat03
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100.0,62819.0,canceled,1122,US,USD,2020-12-30 06:00:00,2021-08-18 05:00:00,False,False,food/food trucks,food,food trucks,cat3,subcat09

In [21]:
# Drop unwanted columns
campaign_merged_df.drop(columns=['category', 'subcategory', 'category & sub-category', 'staff_pick', 'spotlight'], inplace=True)
campaign_merged_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,cat3,subcat09
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,cat1,subcat04
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,cat4,subcat01
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,cat1,subcat04
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,cat7,subcat02

In [22]:
# Export the DataFrame as a CSV file. 
campaign_merged_df.to_csv("Resources/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [23]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('Resources/contacts.xlsx', header=3)
contact_info_df.head()

                                                                                contact_info
0   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
1          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
2            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
3  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}
4        {"contact_id": 2199, "name": "Samuel Sorgatz", "email": "samuel.sorgatz@gmail.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [24]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = contact_info_df['contact_info'].apply(json.loads).to_list()


# Print out the list of values for each row. Showing only the first ten.
dict_values[:10]

[{'contact_id': 4661,
  'name': 'Cecilia Velasco',
  'email': 'cecilia.velasco@rodrigues.fr'},
 {'contact_id': 3765,
  'name': 'Mariana Ellis',
  'email': 'mariana.ellis@rossi.org'},
 {'contact_id': 4187,
  'name': 'Sofie Woods',
  'email': 'sofie.woods@riviere.com'},
 {'contact_id': 4941,
  'name': 'Jeanette Iannotti',
  'email': 'jeanette.iannotti@yahoo.com'},
 {'contact_id': 2199,
  'name': 'Samuel Sorgatz',
  'email': 'samuel.sorgatz@gmail.com'},
 {'contact_id': 5650,
  'name': 'Socorro Luna',
  'email': 'socorro.luna@hotmail.com'},
 {'contact_id': 5889,
  'name': 'Carolina Murray',
  'email': 'carolina.murray@knight.com'},
 {'contact_id': 4842, 'name': 'Kayla Moon', 'email': 'kayla.moon@yahoo.de'},
 {'contact_id': 3280,
  'name': 'Ariadna Geisel',
  'email': 'ariadna.geisel@rangel.com'},
 {'contact_id': 5468,
  'name': 'Danielle Ladeck',
  'email': 'danielle.ladeck@scalfaro.net'}]

In [25]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.
contacts_df = pd.DataFrame(dict_values)
contacts_df.head()

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com

In [26]:
# Check the datatypes.
contacts_df.dtypes

contact_id     int64
name          object
email         object
dtype: object

In [27]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contacts_df[['first_name', 'last_name']] = contacts_df['name'].str.split(' ', n=2, expand=True)

# Drop the contact_name column
contacts_df.drop(columns=['name'], inplace=True)
contacts_df.head()

   contact_id                         email first_name last_name
0        4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
1        3765       mariana.ellis@rossi.org    Mariana     Ellis
2        4187       sofie.woods@riviere.com      Sofie     Woods
3        4941   jeanette.iannotti@yahoo.com   Jeanette  Iannotti
4        2199      samuel.sorgatz@gmail.com     Samuel   Sorgatz

In [28]:
# Reorder the columns
contacts_df_clean = contacts_df[['contact_id', 'first_name', 'last_name', 'email']]
contacts_df_clean.head()

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com

In [29]:
# Check the datatypes one more time before exporting as CSV file.
contacts_df_clean.dtypes

contact_id     int64
first_name    object
last_name     object
email         object
dtype: object

In [30]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("Resources/contacts.csv", encoding='utf8', index=False)